<header class="navbar navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle nav-menu collapsed" data-toggle="collapse" data-target="#nav-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="link navbar-brand">Asylum64</a>
    </div>

    <div class="navbar-collapse collapse navbar-right" id="nav-menu">
      <ul class="nav navbar-nav">
        <li ><a class="link" href="/index.html">Accueil</a></li>
        <li ><a class="link" href="/blog">Blog</a></li>
        <li ><a class="link" href="/projet">Projets</a></li>
        <li ><a class="link" href="/about">A Propos</a></li>
        <li ><a class="link" href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</header>