body {
	font-family: "Yanone Kaffeesatz", "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
	font-size: 22px;
	background-color: #181819;
	color: #444444;
}
h1, h2, h3
{
	text-shadow: #111 0px 2px 1px;
	margin: 0;
}
h1 a
{
	color: #FFFFFF;
	text-decoration: none;
}
h1 a:hover
{
	text-decoration: underline;
}
#info, #github, #coderwall
{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	margin-top: 50px;
}
#coderwall .proudify.coderwall .list .item
{
	float: right;
}
#gravatar
{
	float: left;
	margin-right: 9px;
	margin-top: 9px;
}
#gravatar img
{
	width: 60px;
	height: 60px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border: 5px solid #FFFFFF;
}
.proudify.social
{
	background-color: #222;
	color: white;
	position:fixed;
	left: -74px;
	width: 100px;
	margin-top: 150px;
	padding: 10px;
	text-align: right;
	border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	text-shadow: #111 0px 2px 1px;
	border-bottom: 1px solid #333436;
	border-right: 1px solid #333436;
}
.proudify.social ul.list li
{
	font-size: 18px;
	height: 28px;
	padding-right: 40px;
	line-height: 1.4em;
}
.proudify.social ul.list li.fb
{
	background:url('images/fb.png') top right no-repeat;
}
.proudify.social ul.list li.twitter
{
	background:url('images/twitter.png') top right no-repeat;
}
.proudify.social ul.list li.linkedin
{
	background:url('images/linkedin.png') top right no-repeat;
}
.proudify.social ul.list li.vimeo
{
	background:url('images/vimeo.png') top right no-repeat;
}
.proudify.social ul.list li.gmail
{
	background:url('images/gmail.png') top right no-repeat;
}

.proudify a,
.proudify a:active,
.proudify a:visited
{
	color: white;
	text-decoration: none;
}
.proudify a:hover
{
	text-decoration: underline;
}
.proudify ul
{
	list-style-type: none;
	padding: 0;
}
.proudify .loading
{
	text-align: center;
}
.proudify .status
{
	float: right;
}
.proudify .red
{
	color: red;
}
.proudify .green
{
	color: #87EA23;
}
.proudify .desc
{
	color: #444;
	margin-left: 5px;
	font-weight: normal;
}

/****** GitHub - begin ******/
.proudify.github
{
	background-color: #222;
	color: white;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	text-shadow: #111 0px 2px 1px;
	border-bottom: 1px solid #333436;
	border-right: 1px solid #333436;
}
.proudify.github ul
{
	margin: 5px;
}
.proudify.github li
{
	box-shadow: black 0px 3px 5px inset;
	-moz-box-shadow: black 0px 3px 5px inset;
	-webkit-box-shadow: black 0px 3px 5px inset;
	-webkit-box-shadow: 5px;
	background: #181819;
	border-bottom: 1px solid #333436;
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 10px;
	margin: 5px;
}
/****** GitHub - end ******/

/****** Coderwall - begin ******/
.proudify.coderwall li
{
	float: left;
	margin: 5px;
}
.proudify.coderwall li a img
{
	width: 90px;
	height: 90px;
	border: 0;
}
.proudify.coderwall li a img
{
	opacity: 1.0;
}
.proudify.coderwall li a:hover img
{
	opacity: 0.6;
}
/****** Coderwall - end ******/

/****** CodeSchool - begin ******/
.proudify.codeschool li
{
	float: left;
	margin: 5px;
}
.proudify.codeschool li a img
{
	width: 90px;
	height: 90px;
	border: 0;
}
.proudify.codeschool li a img
{
	opacity: 1.0;
}
.proudify.codeschool li a:hover img
{
	opacity: 0.6;
}
/****** CodeSchool - end ******/

