<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="description" content="JLBarbie"/>
    <meta name="author" content="JLBarbie"/>
	<link rel="stylesheet" href="/assets/css/proudify.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Yanone+Kaffeesatz:extralight,light,regular,bold" type="text/css"/>
	<script src="/assets/js/jquery-2.1.4.min.js"></script>
	<script src="/assets/js/jquery-proudify.min.js"></script>
</head>
<body>
    {{ content }}
</body>
</html>